################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/H2Sharp/.vs/H2Sharp/v16
/H2Sharp/H2Example/bin/Debug/net5.0
/H2Sharp/H2Example/obj
/H2Sharp/H2SharpADO.NET50/bin/Debug
/H2Sharp/H2SharpADO.NET50/obj
