################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/H2Sharp/.vs/H2Sharp/v16
